<div class="card mt-5">
    <p class="lead text-center mt-2"><b>Jobs Categories</b></p>
    <ul>
        <li>Accounting and Banking</li>
        <li>ICT and Computer</li>
        <li>Administrative</li>
        <li>Education</li>
    </ul>
</div>

<div class="card mt-5">
    <p class="lead text-center mt-2"><b>Jobs by City</b></p>
    <ul>
        <li>Abuja</li>
        <li>Lagos</li>
        <li>Portharcourt</li>
        <li>Kano</li>
        <li>Kaduna</li>
        <li>Akure</li>
        <li>Warri</li>
    </ul>
</div>