<nav class="navbar navbar-expand-lg navbar-dark bg-light-green">
    <div class="container">
        <a class="navbar-brand" href="/">Anyjobs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Todays Jobs</a>
                </li>
            </ul>
        </div>

        <form class="form-inline ml-auto my-2 my-lg-0">
            <button class="btn btn-light text-danger " type="submit">Post Free Jobs</button>
        </form>

        <form class="form-inline ml-auto my-2 my-lg-0">
            <a href="/employer/login" class="btn btn-light text-danger ml-2 " type="submit">Employer's Login</a>
        </form>

        <form class="form-inline ml-auto my-2 my-lg-0">
            <a href="/employer/signup" class="btn btn-light text-danger ml-2 " type="submit">Employer's Signup</a>
        </form>

    </div>
</nav>