html,
body {
  height: 100%;
  width: 100%;
}

.body-wrap {
  min-height: 100vh;
}

.login {
  min-height: 75vh;
}

.bg-light-green {
  background: #7d6608;
}

.text-light-green {
  color: #7d6608;
}
