<div class=" body-wrap container mt-3 bg-light">
    <div class="row">
        <div class="col-sm-3">
            {{>_categories}}
        </div>
        <div class="col-sm-6">
            <h3 class="h3">Post Free Jobs</h3>
            <div class="row">
                <form action="">
                    <div class="form-group">
                        <label for="Jobtitle">Job Title</label>
                        <input type="text" class="form-control" placeholder="Enter Job Title">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3 mt-5">
            {{>_adverts}}
        </div>
    </div>
</div>